body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* JobDetailsCard css */
.job-details-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 24px;
  margin-bottom: 24px;
}

.job-details-card h4 {
  margin-top: 0;
}

.job-details-card .MuiCardContent-root {
  padding: 0;
}

.job-details-card .MuiTypography-root {
  margin-bottom: 12px;
}

.job-details-card .MuiGrid-container {
  flex-wrap: nowrap;
}

.job-details-card .MuiGrid-item {
  flex-basis: 0;
  flex-grow: 1;
  margin-right: 24px;
}

.job-details-card .MuiGrid-item:last-child {
  margin-right: 0;
}

.job-details-card .MuiTypography-subtitle1:last-child {
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 0px;
}
